html {
  font-size: 10px;
}

/* Estilo del header común a todas la páginas */

header {
  background: #22177a;
  margin: auto;
}

#logoNombre {
  float: left;
  margin-top: 20px;
  margin-left: 20px;
  float: left;
  width: 100px;
  height: 100px;
}

#nombrePpal {
  width: 800px;
  height: 100px;
  text-align: center;
  align-items: center;
  margin-bottom: 50px;
}

h1 {
  font-family: "Spicy Rice", Arial, Helvetica, sans-serif;
  font-size: 8rem;
  text-align: center;
  color: #f5eee6;
  padding-top: 20px;
  padding-left: 50px;
}

#navegar li {
  list-style: none;
  background: black;
  color: white;
  width: 85px;
  padding: 8px;
}

#navegar li:hover {
  background: grey;
}

nav a {
  text-decoration: none;
  color: white;
}

nav a:visited {
  color: white;
}

#navegar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  left: 200px;
}

.menuNav {
  display: inline-block;
  font-size: 1rem;
  font-family: "Source Serif 4", Arial, Helvetica, sans-serif;
}

#encabezado {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 7px;
  }

  h1 {
    font-size: 4.6rem;
    margin-top: -15px;
  }

  #logoNombre {
    float: left;
    width: 50px;
    height: 50px;
    margin-top: 5px;
    margin-left: 5px;
  }

  #navegar li {
    width: 68px;
    padding-bottom: 2px;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
  }

  #nombrePpal {
    width: 250px;
    height: 50px;
    padding-left: 15px;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
  }

  #navegar {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    flex-basis: auto;
    margin-top: 60px;
    width: 320px;
    position: relative;
    left: 0;
  }

  .menuNav {
    font-size: 1.1rem;
  }

  .liMedia {
    width: 60px;
  }

  #nuestraUbicacion {
    width: 300px;
    height: 200px;
    padding-left: 30px;
    margin-bottom: 15px;
  }

  #mapa {
    width: 300px;
    height: 200px;
  }

  .compromiso {
    padding-left: 5px;
    padding-right: 5px;
  }

  h4 {
    padding-left: 10px;
    margin-bottom: 15px;
  }

  #galeria2 {
    width: 320px;
    height: 194px;
    background-color: darkslategray;
    padding: 1rem;
    border-radius: 2rem;
    margin-bottom: 3rem;
  }
}

/* Estilo del body general a todas las páginas */

body {
  background: #605ea1;
  margin: auto;
}

/* Estilo del video isntitucional */

#contenedorVideo {
  width: 317px;
  height: 240px;
  position: relative;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  background: url(videos/sombra.png);
}

#contenedorVideo video {
  background-color: skyblue;
  padding: 4px;
  position: relative;
  top: -20px;
  left: -20px;
}

/* Estilo de los h2 de todas las páginas */

h2 {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding-left: 80px;
  font-size: 7rem;
  font-weight: bold;
  font-family: "Kavivanar", Arial, Helvetica, sans-serif;
  color: black;
}

/* Estilo del compromiso del Hogar */

.compromiso {
  color: whitesmoke;
  font-size: 2rem;
  font-family: "Mukta", Arial, Helvetica, sans-serif;
  font-style: oblique;
  padding-left: 40px;
}

/* Estilo de los h3 de todas las páginas */

h3 {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding-left: 80px;
  font-size: 5rem;
  font-family: "Kavivanar", Arial, Helvetica, sans-serif;
  color: chocolate;
}

/* Estilo de los h4 de todas las páginas */

h4 {
  text-align: left;
  margin-top: 5rem;
  color: darkorange;
  padding-left: 50px;
  font-size: 3rem;
  font-family: "Kavivanar", Arial, Helvetica, sans-serif;
}

/* Estilo de los h5 de todas las páginas */

h5 {
  font-size: 2rem;
  font-family: Helvetica, Arial, sans-serif;
  color: gainsboro;
}

/* Estilo de los h6 de todas las páginas */

h6 {
  font-size: 1.5rem;
  font-family: "Kavivanar", Arial, Helvetica, sans-serif;
  font-style: oblique;
  font-weight: bold;
  color: black;
  text-align: right;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-right: 150px;
}

/* Estilo de la ubicación del Hogar */

#nuestraUbicacion {
  width: 400px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

/* Estilo del footer de las paginas */

footer {
  background: #e6e9af;
  padding-bottom: 30px;
}

footer p {
  font-size: 1.5rem;
  font-family: "Mukta", Arial, Helvetica, sans-serif;
  font-weight: bold;
}

footer a {
  text-decoration: none;
  color: royalblue;
}

footer a:visited {
  color: royalblue;
}

.face {
  display: inline-block;
}
.insta {
  display: inline-block;
}

#redes {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: column;
  flex-wrap: wrap;
}

.faceInsta {
  display: block;
  padding-right: 230px;
}

/* Estilo del formulario de contacto */

.enlaceCont {
  font-family: "Mukta", Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  padding-left: 40px;
  padding-bottom: 20px;
}

#contactar {
  margin-bottom: 30px;
}

.datosContacto label {
  display: block;
  margin-bottom: -5px;
}

#formCont label {
  display: flex;
  flex-wrap: wrap;
  font-family: "Mukta", Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  padding-left: 40px;
  padding-bottom: 20px;
}

#nombre4,
#apellido4,
#email4 {
  width: 300px;
  height: 25px;
  margin-top: -25px;
  margin-bottom: 20px;
  margin-left: 60px;
}

#tuTelefono4 {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;
}

#caracteristica4 {
  width: 50px;
  height: 25px;
  margin-top: -25px;
  margin-bottom: 20px;
  margin-left: 60px;
  margin-right: 5px;
  text-align: center;
}

#numero4 {
  width: 90px;
  height: 25px;
  margin-top: -25px;
  margin-bottom: 20px;
  margin-left: 5px;
  text-align: center;
}

#opinion4 {
  margin-left: 60px;
  width: 300px;
  height: 200px;
}

#botonSubmit {
  width: 15rem;
  height: 4rem;
  background: black;
  text-align: center;
  border: 2px solid wheat;
  border-radius: 2rem;
  margin-top: 40px;
  margin-left: 150px;
}

/* Estilo de los logros */

.logro {
  color: whitesmoke;
  font-size: 2rem;
  font-family: "Mukta", Arial, Helvetica, sans-serif;
  font-style: oblique;
  padding-left: 40px;
}

.fa-regular {
  color: red;
}

#ntrosLogros {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: 1fr;
  gap: 10px;
}

/* Estilo de las reseñas */

.reseñas {
  background: linear-gradient(
    to right bottom,
    rgb(67, 4, 168),
    rgb(91, 91, 240),
    rgb(207, 214, 247)
  );
  width: 250px;
  height: auto;
  padding: 20px;
  border-radius: 1.5rem;
}

#expresiones {
  font-size: 2rem;
  font-family: "Mukta", Arial, Helvetica, sans-serif;
  color: bisque;
  margin-left: 30px;
}

.reseñas p {
  font-size: 1.3rem;
  font-family: "Mukta", Arial, Helvetica, sans-serif;
  color: bisque;
  font-style: oblique;
}

.reseñas cite {
  font-size: 1.4rem;
  font-family: "Mukta", Arial, Helvetica, sans-serif;
  color: bisque;
  font-style: oblique;
  font-weight: bold;
}

.reseñas h5 {
  font-weight: bold;
  font-style: italic;
  color: aqua;
}

#recopilaciones {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
}

/* Estilo de donaciones */

.explicDonar {
  color: whitesmoke;
  font-size: 2rem;
  font-family: "Mukta", Arial, Helvetica, sans-serif;
  font-style: oblique;
  padding-left: 40px;
}

#donar {
  margin-bottom: 30px;
}

.datosDonar label {
  display: block;
  margin-bottom: -5px;
}

#formDonar label {
  display: flex;
  flex-wrap: wrap;
  font-family: "Mukta", Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  padding-left: 40px;
  padding-bottom: 20px;
}

#nombre1,
#apellido1,
#email1 {
  width: 300px;
  height: 25px;
  margin-top: -25px;
  margin-bottom: 20px;
  margin-left: 60px;
}

#fechaNac1 {
  width: 100px;
  height: 25px;
  margin-top: -25px;
  margin-bottom: 20px;
  margin-left: 60px;
}

#comoDonar {
  width: 130px;
  height: 25px;
  margin-top: -25px;
  margin-bottom: 20px;
  margin-left: 60px;
}

#tuTelefono1 {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;
}

#caracteristica1 {
  width: 50px;
  height: 25px;
  margin-top: -25px;
  margin-bottom: 20px;
  margin-left: 60px;
  margin-right: 5px;
  text-align: center;
}

#numero1 {
  width: 90px;
  height: 25px;
  margin-top: -25px;
  margin-bottom: 20px;
  margin-left: 5px;
  text-align: center;
}

#opinion1 {
  margin-left: 60px;
  width: 300px;
  height: 200px;
}

#datosCuentas {
  background: #605ea1;
  width: auto;
  margin: 30px auto;
}

#datosCuentas h4 {
  text-align: center;
}

.ntrasCuentas {
  width: 250px;
  height: 80px;
  font-size: 2.5rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background: brown;
  margin: auto;
  border: 2.5px solid red;
  border-radius: 1rem;
}

#datosCuentas h5 {
  text-align: center;
}

.tipoCuenta {
  font-size: 1.4rem;
  color: whitesmoke;
  text-align: center;
}

.datosDepositos {
  font-size: 1.1rem;
  color: whitesmoke;
}

#contenedorCuentas {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-bottom: 1rem;
}

/* Estilo quienes somos */

#amorAnimal {
  width: 50rem;
  height: 30rem;
  margin: 20px auto;
}

#amorAnimal img {
  width: 50rem;
  height: 30rem;
  color: whitesmoke;
  border: 0.2rem solid orange;
  border-radius: 1.5rem;
}

#amorAnimal p {
  font-size: 2rem;
  margin-top: -30px;
  color: yellow;
  text-align: center;
}

#quienesSomos img {
  width: 50rem;
  height: 30rem;
  margin-left: 5%;
  border: 0.2rem solid orange;
  border-radius: 1.5rem;
}

.somosMiauGuau {
  font-size: 1.5rem;
  font-family: "Mukta", Arial, Helvetica, sans-serif;
  margin-left: 5%;
}
#voluntario1 img {
  width: 20.1rem;
  height: 30rem;
}

.voluntarios img {
  width: 50rem;
  height: 30rem;
}

#quienesTrabajan img {
  margin-left: 2rem;
  border: 0.2rem solid orange;
  border-radius: 1.5rem;
}

#quienesTrabajan {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#sostenemos {
  margin-bottom: 30px;
}

/* Estilos galeria */

#galeriaFotos img {
  border: 0.2rem solid orange;
  border-radius: 1.5rem;
}

.galeria1 {
  width: 22.1rem;
  height: 34rem;
  background-color: darkslategray;
  padding: 1rem;
  border-radius: 2rem;
  margin-bottom: 3rem;
}

.galeria1 img {
  width: 20.1rem;
  height: 30rem;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.galeria1 p {
  font-size: 2rem;
  margin-top: 5px;
  color: yellowgreen;
  text-align: center;
}

#galeria2 {
  width: 56rem;
  height: 34rem;
  background-color: darkslategray;
  padding: 1rem;
  border-radius: 2rem;
  margin-bottom: 3rem;
}

#galeria2 img {
  width: 54rem;
  height: 30rem;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#galeria2 p {
  font-size: 2rem;
  margin-top: 5px;
  color: salmon;
  text-align: center;
}

.galeria3 {
  width: 47rem;
  height: 34rem;
  background-color: darkslategray;
  padding: 1rem;
  border-radius: 2rem;
  margin-bottom: 3rem;
}

.galeria3 img {
  width: 45rem;
  height: 30rem;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.galeria3 p {
  font-size: 2rem;
  margin-top: 5px;
  color: salmon;
  text-align: center;
}

.galeria4 {
  width: 24.5rem;
  height: 34rem;
  background-color: darkslategray;
  padding: 1rem;
  border-radius: 2rem;
  margin-bottom: 3rem;
}

.galeria4 img {
  width: 22.5rem;
  height: 30rem;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.galeria4 p {
  font-size: 2rem;
  margin-top: 5px;
  color: salmon;
  text-align: center;
}

#galeriaFotos {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* Estilos colaaboradores */

.marcasColaboradoras {
  width: 25rem;
  height: 20rem;
  background: #808b96;
  border: 5px solid #212f3d;
  border-radius: 2rem;
  margin-bottom: 2rem;
}

.marcasColaboradoras img {
  width: 20rem;
  height: 10rem;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
}

.marcasColaboradoras p {
  font-size: 2rem;
  margin-top: 20px;
  color: black;
  text-align: center;
  font-weight: bold;
}

#ntrosColaboradores {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

/* Estilo voluntarios */

#voluntariado p {
  color: whitesmoke;
  font-size: 2rem;
  font-family: "Mukta", Arial, Helvetica, sans-serif;
  font-style: oblique;
  padding-left: 40px;
}

#voluntariado {
  margin-bottom: 50px;
}

#formVoluntario label {
  display: flex;
  flex-wrap: wrap;
  font-family: "Mukta", Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  padding-left: 40px;
  padding-bottom: 20px;
}

.datosVoluntario label {
  display: block;
  margin-bottom: -5px;
}

#nombre2,
#apellido2,
#domicilio2,
#localidad2,
#provincia2,
#email2 {
  width: 300px;
  height: 25px;
  margin-top: -25px;
  margin-bottom: 20px;
  margin-left: 60px;
}

#dni2 {
  width: 90px;
  height: 25px;
  margin-top: -25px;
  margin-bottom: 20px;
  margin-left: 60px;
}

#fechaNac2 {
  width: 100px;
  height: 25px;
  margin-top: -25px;
  margin-bottom: 20px;
  margin-left: 60px;
}

#tuTiempo {
  width: 130px;
  height: 25px;
  margin-top: -25px;
  margin-bottom: 20px;
  margin-left: 60px;
}

#tuTelefono2 {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;
}

#caracteristica2 {
  width: 50px;
  height: 25px;
  margin-top: -25px;
  margin-bottom: 20px;
  margin-left: 60px;
  margin-right: 5px;
  text-align: center;
}

#numero2 {
  width: 90px;
  height: 25px;
  margin-top: -25px;
  margin-bottom: 20px;
  margin-left: 5px;
  text-align: center;
}

#opinion2 {
  margin-left: 60px;
  width: 300px;
  height: 200px;
}

/* Estilos adopción */

#adoptar p {
  color: whitesmoke;
  font-size: 2rem;
  font-family: "Mukta", Arial, Helvetica, sans-serif;
  font-style: oblique;
  padding-left: 40px;
}

#adoptar {
  margin-bottom: 30px;
}

#formAdopcion label {
  display: flex;
  flex-wrap: wrap;
  font-family: "Mukta", Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  padding-left: 40px;
  padding-bottom: 20px;
}

.datosAdopcion label {
  display: block;
  margin-bottom: -5px;
}

#nombre3,
#apellido3,
#domicilio3,
#localidad3,
#provincia3,
#email3 {
  width: 300px;
  height: 25px;
  margin-top: -25px;
  margin-bottom: 20px;
  margin-left: 60px;
}

#dni3 {
  width: 90px;
  height: 25px;
  margin-top: -25px;
  margin-bottom: 20px;
  margin-left: 60px;
}

#fechaNac3 {
  width: 100px;
  height: 25px;
  margin-top: -25px;
  margin-bottom: 20px;
  margin-left: 60px;
}

#adoptar3 {
  width: 130px;
  height: 25px;
  margin-top: -25px;
  margin-bottom: 20px;
  margin-left: 60px;
}

#tuTelefono3 {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;
}

#caracteristica3 {
  width: 50px;
  height: 25px;
  margin-top: -25px;
  margin-bottom: 20px;
  margin-left: 60px;
  margin-right: 5px;
  text-align: center;
}

#numero3 {
  width: 90px;
  height: 25px;
  margin-top: -25px;
  margin-bottom: 20px;
  margin-left: 5px;
  text-align: center;
}

#opinion3 {
  margin-left: 60px;
  width: 300px;
  height: 200px;
}

#formVoluntario {
  margin-bottom: 30px;
}

/* Estilo de tienda */

.productos img {
  width: 250px;
  height: 250px;
}

.titTarjeta {
  font-size: 2rem;
  font-weight: bold;
  font-family: "Kavivanar", Arial, Helvetica, sans-serif;
}

.descripProd {
  font-size: 1.3rem;
  font-family: "Kavivanar", Arial, Helvetica, sans-serif;
}

.precioProd {
  font-size: 1.7rem;
  font-weight: bold;
  font-family: "Kavivanar", Arial, Helvetica, sans-serif;
  color: purple;
  position: relative;
  left: 175px;
  
}

.cuotaProd {
  font-size: 1.5rem;
  font-family: "Kavivanar", Arial, Helvetica, sans-serif;
}

.productos {
  width: 250px;
  height: 430px;
  padding: 25px;
  background: cadetblue;
  border: solid darkgreen 3px;
  border-radius: 60px;
}

.tarjetasProductos {
  margin-left: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
}

/* Estilo del carrito */

#carritoDeCompras {
  width: 400px;
  height: auto;
  background: cadetblue;
  border: 2px solid darkgreen;
  border-radius: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 4rem;
}

#carritoDeCompras h4 {
  font-weight: bold;
  font-size: 3rem;
  color: red;
  margin-top: 0;
  text-align: left;
}

#listadoDeCompras li{
  list-style: none;
  font-family: "Kavivanar", Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  padding-left: -0.5rem;
}

#elTotal {
  font-family: "Kavivanar", Arial, Helvetica, sans-serif;
  font-size: 2rem;
  padding-left: 1.1rem;
}

#btnLimpiar {
  float: left;
  width: 10rem;
  height: 2rem;
  background: black;
  text-align: center;
  border: 2px solid wheat;
  border-radius: 2rem;
  margin-top: 10px;
  margin-left: 100px;
  margin-right: 5px;
}

#btnIrAPagar {
  width: 10rem;
  height: 2rem;
  background: black;
  text-align: center;
  border: 2px solid wheat;
  border-radius: 2rem;
  margin-top: 10px;
  margin-left: 0px;
}

.btnCarrito {
  width: 15rem;
  height: 3rem;
  background: black;
  text-align: center;
  border: 2px solid wheat;
  border-radius: 2rem;
  margin-top: 10px;
  margin-left: 0px;
}

.fa-solid {
  color: black;
  font-size: 2rem;
}

.carritoCompras {
  position: relative;
  top: 20px;
  left: 40px;
}

#mensajeVacio {
  width: 130px;
  color: red;
  font-weight: bolder;
  font-family: "Kavivanar", Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  text-align: center;
  margin-top: 10px;
  margin-left: 135px;
  background-color: yellow;
  border-radius: 5px;
}


/* .input-icon-container {
  position: relative;
}

.input-icon-container i {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
} */
