html {
  font-size: 10px;
}

/* Estilo del header común a todas la páginas */
header {
  background: #22177a;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

#logo {
  float: left;
  padding-top: 20px;
  margin-left: 20px;
}
#logoNombre {
  width: auto;
  height: 150px;
}

h1 {
  font-family: "Spicy Rice", Arial, Helvetica, sans-serif;
  font-size: 10rem;
  color: #f5eee6; /*rgb(220, 230, 132);*/ /*#E0966; */
  padding-top: 50px;
  padding-left: 200px;
}

#navegar li {
  list-style: none;
  background: black;
  color: white;
  width: 100px;
  padding: 10px;
  margin: 0px;
}

#navegar li:hover {
  background: grey;
}

nav a {
  text-decoration: none;
  color: white;
}

nav a:visited {
  color: white;
}
#navegar {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
}

.menuNav {
  display: inline-block;
  font-size: 1.2em;
  font-family: "Source Serif 4", Arial, Helvetica, sans-serif;
  margin: 0px -10px;
}

/* Estilo del body general a todas las páginas */
body {
  background: #605ea1;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
}

/* Estilo del video isntitucional */
#contenedorVideo {
  width: 450px;
  height: 338px;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  background: url(videos/sombra.png);
}

#contenedorVideo video {
  background-color: skyblue;
  padding: 4px;
  position: relative;
  top: -20px;
  left: -20px;
}
/* Estilo de los h2 de todas las páginas */
h2 {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding-left: 80px;
  font-size: 7rem;
  font-weight: bold;
  font-family: "Kavivanar", Arial, Helvetica, sans-serif;
  color: black;
}
/* Estilo del compromiso del Hogar */
.compromiso {
  color: whitesmoke;
  font-size: 2rem;
  font-family: "Mukta", Arial, Helvetica, sans-serif;
  font-style: oblique;
  padding-left: 40px;
}
/* Estilo de los h3 de todas las páginas */
h3 {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding-left: 80px;
  font-size: 5rem;
  font-family: "Kavivanar", Arial, Helvetica, sans-serif;
  color: chocolate;
}
/* Estilo de los h4 de todas las páginas */
h4 {
  margin-top: 130px;
  color: darkorange;
  padding-left: 80px;
  font-size: 3rem;
  font-family: "Kavivanar", Arial, Helvetica, sans-serif;
}
/* Estilo de los h5 de todas las páginas */
h5 {
  font-size: 2rem;
  font-family: Helvetica, Arial, sans-serif;
  color: gainsboro;
}
/* Estilo de los h6 de todas las páginas */
h6 {
  font-size: 1.5rem;
  font-family: "Kavivanar", Arial, Helvetica, sans-serif;
  font-style: oblique;
  font-weight: bold;
  color: black;
  text-align: right;
  margin-bottom: 10px;
  padding-top: 20px;
  padding-right: 150px;
}
/* Estilo de la ubicación del Hogar */
#nuestraUbicacion {
  width: 600px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  border: 25px solid rgb(89, 4, 97);
  border-radius: 40px;
}
/* Estilo del footer de las paginas */
footer {
  background: #e6e9af;
}

footer p {
  font-size: 1.5rem;
  font-family: "Mukta", Arial, Helvetica, sans-serif;
  font-weight: bold;
}

footer a {
  text-decoration: none;
  color: royalblue;
}

footer a:visited {
  color: royalblue;
}

.face {
  display: inline-block;
}
.insta {
  display: inline-block;
}

#redes {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-direction: column;
  flex-wrap: wrap;
}

.faceInsta {
  display: block;
  padding-right: 230px;
}

.enlaceCont {
  font-family: "Mukta", Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  padding-left: 40px;
  padding-bottom: 20px;
}
/* Estilo del formulario de contacto */
#formCont {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 800px;
  margin-left: 40px;
}

#formCont label {
  display: inline-block;
  font-family: "Mukta", Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  padding-left: 40px;
  padding-bottom: 10px;
}

#nombre4,
#apellido4,
#email4 {
  width: 300px;
  height: 25px;
  margin-bottom: 20px;
}

#telefono4 {
  display: inline-block;
}

#nroTelefono {
  display: flex;
  margin-bottom: 20px;
}

#carateristica input {
  width: 50px;
  height: 25px;
  margin-right: 20px;
}

#telefono input {
  width: 100px;
  height: 25px;
  margin-right: 20px;
}

#opinion4 {
  width: 450px;
  margin-bottom: 40px;
}

#botonSubmit {
  width: 100px;
  margin-left: 355px;
  border-radius: 10px;
  background: black;
  color: whitesmoke;
  margin-bottom: 50px;
}
/* Estilo de los logros */
.logro {
  color: whitesmoke;
  font-size: 2rem;
  font-family: "Mukta", Arial, Helvetica, sans-serif;
  font-style: oblique;
  padding-left: 40px;
}

.fa-regular {
  color: red;
}

#ntrosLogros {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: 1fr;
  gap: 10px;
}
/* Estilo de las reseñas */
.reseñas {
  background: linear-gradient(
    to right bottom,
    rgb(67, 4, 168),
    rgb(91, 91, 240),
    rgb(207, 214, 247)
  );
  width: 250px;
  height: auto;
  padding: 20px;
}

#expresiones {
  font-size: rem;
  font-family: "Mukta", Arial, Helvetica, sans-serif;
  color: bisque;
}

.reseñas p {
  font-size: 1.3rem;
  font-family: "Mukta", Arial, Helvetica, sans-serif;
  color: bisque;
  font-style: oblique;
}

.reseñas cite {
  font-size: 1.4rem;
  font-family: "Mukta", Arial, Helvetica, sans-serif;
  color: bisque;
  font-style: oblique;
  font-weight: bold;
}

.reseñas h5 {
  font-weight: bold;
  font-style: italic;
  color: aqua;
}

#recopilaciones {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
}
/* Estilo de tienda */
.productos img {
  width: 250px;
  height: 250px;
}

.titTarjeta {
  font-size: 2rem;
  font-weight: bold;
  font-family: "Kavivanar", Arial, Helvetica, sans-serif;
}

.descripProd {
  font-size: 1.3rem;
  font-family: "Kavivanar", Arial, Helvetica, sans-serif;
}

.precioProd {
  font-size: 1.7rem;
  font-weight: bold;
  font-family: "Kavivanar", Arial, Helvetica, sans-serif;
}

.cuotaProd {
  font-size: 1.5rem;
  font-family: "Kavivanar", Arial, Helvetica, sans-serif;
}

.productos {
  width: 250px;
  height: 430px;
  padding: 25px;
  background: cadetblue;
  border: solid darkgreen 3px;
}

.tarjetas {
  margin-left: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
}

/* Estilo de donaciones */

.explicDonar {
  color: whitesmoke;
  font-size: 2rem;
  font-family: "Mukta", Arial, Helvetica, sans-serif;
  font-style: oblique;
  padding-left: 40px;
}

#donar {
  margin-bottom: 100px;
}

#formDonar {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  width: 800px;
  margin-left: 40px;
}

.datosDonar {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

#formDonar label {
  display: flex;
  flex-wrap: wrap;
  font-family: "Mukta", Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  padding-left: 40px;
  padding-bottom: 20px;
}

#nombre1,
#apellido1,
#email1 {
  width: 300px;
  height: 25px;
  margin-bottom: 20px;
}

#fechaNac1 {
  width: 100px;
  height: 25px;
  margin-bottom: 20px;
}

#comoDonar {
  width: 130px;
  height: 25px;
  margin-bottom: 20px;
}

#formDonar #nombre1,
#apellido1 {
  margin-left: 82px;
}

#formDonar #fechaNac1 {
  margin-left: 14px;
}

#formDonar #email1 {
  margin-left: 104px;
}

#formDonar #comoDonar {
  margin-left: 11px;
}

#motivoDonar {
  display: flex;
  flex-wrap: wrap;
}

#motivoDonar label {
  padding-right: 10px;
}

#datosCuentas {
  background: indigo;
  width: 500px;
  margin: auto;
}

.ntrasCuentas {
  font-size: 1.5rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background: brown;
  /* width: 220px; */
  height: 130px;
  padding: 10px;
  border: 2.5px solid red;
  border-radius: 15px;
}

#datosCuentas h5 {
  text-align: center;
}

.tipoCuenta {
  font-size: 1.4rem;
  color: whitesmoke;
  text-align: center;
}

.datosDepositos {
  font-size: 1.1rem;
  color: whitesmoke;
}

#contenedorCuentas {
  display: grid;
  grid-template-columns: auto auto;
  padding: 5px;
  gap: 5px;
}

/* Estilo quienes somos */
#amorAnimal {
  width: 50rem;
  height: 30rem;
  margin: 20px auto;
}

#amorAnimal img {
  width: 50rem;
  height: 30rem;
  color: whitesmoke;
  border: 0.2rem solid orange;
  border-radius: 1.5rem;
}

#amorAnimal p {
  font-size: 2rem;
  margin-top: -30px;
  color: yellow;
  text-align: center;
}

#quienesSomos img {
  width: 50rem;
  height: 30rem; 
  margin-left: 5%;
  border: 0.2rem solid orange;
  border-radius: 1.5rem;
}

.somosMiauGuau {
  font-size: 1.5rem;
  font-family: "Mukta", Arial, Helvetica, sans-serif;
  margin-left: 5%;
}
#voluntario1 img{
  width: 20.1rem;
  height: 30rem; 
}

.voluntarios img{
  width: 50rem;
  height: 30rem; 
}

#quienesTrabajan img {
  margin-left: 5%;
  border: 0.2rem solid orange;
  border-radius: 1.5rem;
}

#quienesTrabajan {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  }

/* Estilos galeria */

#galeriaFotos img {
  border: 0.2rem solid orange;
  border-radius: 1.5rem;
}


.galeria1 {
  width: 22.1rem;
  height: 34rem; 
  background-color: darkslategray;
  padding: 1rem;
  border-radius: 2rem;
  margin-bottom: 3rem;
}

.galeria1 img {
  width: 20.1rem;
  height: 30rem;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

.galeria1 p {
  font-size: 2rem;
  margin-top: 5px;
  color: yellowgreen;
  text-align: center;
}

#galeria2 {
  width: 56rem;
  height: 34rem; 
  background-color: darkslategray;
  padding: 1rem;
  border-radius: 2rem;
  margin-bottom: 3rem;
}

#galeria2 img {
  width: 54rem;
  height: 30rem; 
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#galeria2 p {
  font-size: 2rem;
  margin-top: 5px;
  color: salmon;
  text-align: center;
}

.galeria3 {
  width: 47rem;
  height: 34rem;
  background-color: darkslategray;
  padding: 1rem;
  border-radius: 2rem;
  margin-bottom: 3rem;
}

.galeria3 img {
  width: 45rem;
  height: 30rem; 
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.galeria3 p {
  font-size: 2rem;
  margin-top: 5px;
  color: salmon;
  text-align: center;
}

.galeria4 {
  width: 24.5rem;
  height: 34rem; 
  background-color: darkslategray;
  padding: 1rem;
  border-radius: 2rem;
  margin-bottom: 3rem;
}

.galeria4 img {
  width: 22.5rem;
  height: 30rem;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto; 
}

.galeria4 p {
  font-size: 2rem;
  margin-top: 5px;
  color: salmon;
  text-align: center;
}

#galeriaFotos {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
 }

#galeriaFotos:nth-child(5),
#galeriaFotos:nth-child(6),
#galeriaFotos:nth-child(8),
#galeriaFotos:nth-child(11) {
  flex-shrink: 2;
}



















